.static-bg-1{
  height: 75vh;
  background: #fff url("../assets/Xmas.jpg") center center/cover no-repeat fixed;
}

.static-bg-2{
  height: 75vh;
  background: #fff url("../assets/Fresh-produce.jpg") center center/cover no-repeat fixed;
}




  