.cartItems-container{
    height: min(80vh,530px);
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.cart-table-headings{
    display: flex;
    width: 90%;
    padding-top: 20px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    font-family: var(--primary-font);
    text-transform: capitalize;
}

.cell-left{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.cell-right{
    width: 20%;
}

.cell-right.inside{
    transform: translateX(1em);
}

.order-form-item{
    display: flex;
    width: 90%;
    padding: 1em;
    margin: 0 auto;
    border: 1px solid rgba(100, 100, 100, 0.2);
    border-radius: 5px;
    align-items: center;

    transform: translateX(-1em);
    font-family: var(--primary-font);
    font-size: 1em;
}

.letter-sign{
    font-size: 1.2em;
}

.trash-icon {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2em;
    cursor: pointer;
}

.add_names{
    font-size: 0.85em;
    color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width:746px){
    .cartItems-container{
        height: auto;
        margin: 2em auto;
        width: 100%;
        transform: translateX(1em);
    }

}