

.dark-layer{
    background-color: transparent;
    background: rgba(0, 0, 0, 0.4);

    position: absolute;
    top: 0;
    right: 30%;
    bottom: 0;
    width: 0;
    height: 100vh;
    z-index: 2;
}

.dark-layer.open{
    width: 70%;
}

.cart-overlay{
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;  
    transform-origin: right;  
    /* border: 2px solid var(--primary-color); */

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100vh; 
    z-index: 2;
    overflow-x: hidden;

    transition: width 0.3s ease-in-out;
}

.cart-overlay.open{
    width: 30%;
    transition: width 0.3s ease-in-out;
}


.cart-overlay-items {
    display: flex;
    flex-direction: column;
}

.heading-container-cart {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0px;
    margin-bottom: 3em;
    width: 100%;
    /* border-bottom: 2px solid #000; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    font-family: var(--primary-font);
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.cart-heading {
    display: flex;
    justify-content: center;
    width: 80%;
}

.cross-button-cart{
    display: flex;
    justify-content: flex-end;
    font-size: 1.5em;
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out;
}

.cross-button-cart:hover{
    cursor: pointer;
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
}

.cart-items-holder{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    gap: 20px;
}

.price-div{
    margin: 0 auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    font-family: var(--primary-font);
    font-weight: 500;
    align-items: flex-end;
    text-transform: uppercase;
}

.total{
    font-weight: bold;
    font-size: 1.1em;
    text-transform: capitalize;
}

.cart-item-price-holder{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}

.checkout-btn{
    border: 1px solid black;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    font-family: var(--primary-font);
    font-size: 1.4em;
    letter-spacing: 0.1em;
    border-radius: 15px;
    width: 95%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 3px;
    justify-content: center;
}

@media screen and (max-width: 1048px){
    .cart-overlay.open{
        width: 40%;
    }
}

@media screen and (max-width: 768px){
    .cart-overlay.open{
        width: 100%;
    }
}