.navbar-dropdown{
    background-color: var(--bg-color);
    color: var(--white-color);
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}


.navbar-dropdown.open{
    height: 350px;
}

.navbar-options-dropdown {
    list-style: none;
    padding-top: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

} 

.nav-item-dropdown {
    margin-bottom: 20px;
    cursor: pointer;
    font-family: var(--primary-font);
    text-transform: uppercase;
    letter-spacing: 1px;
}
