.content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    height: 100%;
    border-radius: 10px;
    overflow-y: auto;
    height: min(80vh,530px);
}

.section {
    width: 100%;
}

.section-heading {
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    color: var(--bg-color);
    letter-spacing: 2px;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

.font-btn, .size-btn{
    cursor: pointer;
    font-size: 1rem;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 14px;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: var(--primary-gradient);
    color: var(--white-color);
    width: 40%;
    text-transform: capitalize;
}

.size-btn{
    text-transform: lowercase !important;
    line-height: 10px;
}

.font-btn:hover, .size-btn:hover{
    box-shadow: rgb(0 0 0 / 50%) 0px 0px 0px 3px;
    background:  rgb(120, 20, 50);
}

.font-btn.selected, .size-btn.selected{
    background: rgb(120, 20, 50);
    box-shadow: rgb(0 0 0 / 100%) 0px 0px 0px 3px;
}

.cart-btn{
    width: 90%;
    background: var(--primary-gradient);
    border-radius: 8px;
    padding: 14px 24px;
    line-height: 25px;
    color: var(--white-color);
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.2rem;
}

.cart-btn:hover{
    background:  rgb(120, 20, 50);
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}


.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    width: 100%;
}
  
.checkbox-container input[type='checkbox'] {
    display: none;
}

.checkmark {
    position: relative;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 3px;
    border: 2px solid #ccc;
    background-color: var(--white-color);
    margin-right: 8px;
    transition: background-color 0.3s ease-in-out;
}

.checkbox-container input[type='checkbox']:checked ~ .checkmark {
    background-color: var(--primary-color);
}
  
.label-text {
    color: var(--bg-color);
    font-size: 1.4rem;
}

.next-btn{
    background-color: #f50057;
    border-radius: 5px;
    border: 2px solid transparent;
}

.next-btn.disabled{
    background-color: #ccc;
}

/* bruh */

.checkbox-holder{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}  

.checkbox-holder p{
    font-weight: 500;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.2);
}

.checkbox-holder-inside{
    width: 96%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    border: 2px solid var(--primary-color);
    padding: 10px 0px;
    border-radius: 10px;
}


@media (max-width: 980px) {
    .content-container {
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      height: auto;
      width: 100%;
    }
  
    .section {
      flex: 1;
    }
    
    .checkbox-holder {
        align-items: flex-start;
    }

    .checkbox-holder-inside {
        border: none;
    }

    .cart-btn {
        width: 100%;
        margin-top: 20px;
    }
  
    .section-heading {
      font-size: 1.75em;
    }
  
    .options {
      justify-content: center;
      margin-bottom: 10px;
    }

    .section-container .content-container > .section {
        display: none;
    }
      
    .section-container .content-container > .section:nth-child(2) {
        width: 100%;
        display: block;
    }
      
}

  