.checkbox-item{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 2px;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.2);
}

.checkbox-toggle {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 30px;
    background-color: #dcdcdc;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid var(--primary-color);
  }
  
  .checkbox-toggle.checked {
    background-color: var(--primary-color);
  }
  
    
  .checkbox-toggle.checked .slider {
    left: 32px;
  }

  input[type='checkbox'] {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    transition: left 0.3s ease;
  }
  
  .slider-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #fff;
    height: 100%;
  }